
body {
  padding-top: 3rem;
}

.hero {
  padding: 45vh 0;
  background: linear-gradient(to left, #1a2980, #26d0ce);
}

.features {
   padding: 25vh 0 ;
  background: #222;
  color: white;
}

.pricing {
    background: linear-gradient(to right, #1a2980, #26d0ce);
   padding: 25vh 0 ;
  text-align: center;
}

.featured-price {
  transform: scale(1.1);
  z-index: 10;
  background: #222;
}

footer {
  padding: 10vh 0;
  text-align: center;
  background: black;
  color: white;
}
.card {
    margin: 0 auto;
    float: none; 
     margin-bottom: 10px; 
    height: 23rem;
     width: 40rem;
     